.profileContainer {
  display: flex;
  flex-direction: column; 
  background-color: #999; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
}

.profilePictureWrapper {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 10px; 
}

.profileDetails {
  flex: 1; 
  text-align: center; 
  padding: 10px; 
}

.profileDetails h1 {
  font-size: 20px; 
  margin: 10px 0;
}

.profileDetails p {
  margin: 5px 0;
  color: #333; 
}

/* larger screens */
@media (min-width: 768px) {
  .profileContainer {
    flex-direction: row; /* Align elements side by side on larger screens */
    padding: 20px; 
  }

  .profilePictureWrapper {
    align-items: flex-start; 
  }

  .profileDetails {
    text-align: left; 
  }

  .profileDetails h1 {
    font-size: 24px; 
  }
}
.sellerTag {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  margin-left: 5px; /* Space between text and tag */
}

.buyerTag {
  background-color: #2196F3; /* Blue */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  margin-left: 5px; /* Space between text and tag */
}